*{margin: 0;padding: 0;}
body{background: #EEEEEE;font-size: .24rem;padding-top: .5rem;padding-bottom: .52rem;}
/*头部*/
#head{width: 100%;position: fixed;top: 0;z-index: 5;height: .5rem;background: #ff4400;display: flex;justify-content: space-between;}
.head-left{font-size: .12rem;width: .5rem;height: .5rem;text-align: center;box-sizing: border-box;padding-top: .05rem;}
.head-left div img{width: .2rem;height: .2rem;line-height: .2rem;}
.head-left span{line-height: .12rem;color: white;}
.head-search{width: 2rem;height: .5rem;line-height: .5rem;position: relative;}
.head-search input{text-align: center;line-height: .3rem;height: .3rem;width: 2rem;border: none;color: white;background: #ff4400;border-bottom: 1px solid white;}
.head-search img{position: absolute;top: .2rem;left: .05rem;z-index: 5;}
.left-border{z-index: 5;position: absolute;left: 0;top: .33rem;height: .1rem;border-left: 1px solid white;}
.right-border{z-index: 5;position: absolute;left: 2rem;top: .33rem;height: .1rem;border-left: 1px solid white;}
.head-right span{line-height: .12rem;color: white;font-size: .12rem;}
.head-right div img{width: .2rem;height: .2rem;line-height: .2rem;}
/*轮播图*/
.swiper-container{height: 1.32rem;}
.swiper-slide img{height: 1.32rem;width: 100%;}
/*导航*/
#nav{height: 1.85rem;margin-top: .1rem;}
#nav ul{background: white;list-style: none;display: flex;height: 1.85rem;flex-flow: row wrap;align-items: center;}
#nav ul li{font-size: .12rem;color: #7b7b7b;width: 20%;text-align: center;box-sizing: border-box;}
#nav ul li img{width: .58rem;height: .58rem;line-height: .58rem;}
#nav ul li span{line-height: .12rem;}
/*内容*/
#content{margin-top: .1rem;background: white;height: 2.07rem;display: flex;box-sizing: border-box;}
.content-left{flex-grow: 1;width: 42%;height: 2.07rem;}
.content-left img{height: 100%;width: 100%;}
.content-right{width: 58%;flex-grow: 1;height: 2.07rem;}
.content-right-top img{width: 100%;height: .7rem;line-height: .7rem;}
.content-right-bottom{display: flex;height: 1.3rem;}
.content-right-bottom div{width: 50%;height: 1.3rem;}
.content-right-bottom img{width: 100%;height: 1.3rem;}
/*列表标题*/
#list-tips{height: .4rem;margin-top: .1rem;}
#list-tips ul{list-style: none;height: .4rem;width: 100%;display: flex;justify-content: space-between;}
#list-tips ul li{border-right: 1px solid lightgray;width: 28.5%;height: .4rem;box-sizing: border-box;font-size: .18rem;text-align: center;line-height: .4rem;}
#list-tips ul li:first-child{color: #ff4400;}
#list-tips ul li:last-child{width: 14.5%;border: none;}
#classification{font-size: .24rem;}
/*猜你喜欢*/
/*块状显示*/
#youlike{width: 100%;}
#youlike .lump{list-style: none;width: 100%;display: flex;flex-flow: row wrap;background: white;}
#youlike .lump li{width: 50%;height: 3.05rem;box-sizing: border-box;padding: .1rem;}
#youlike .lump li img{width: 1.84rem;height: 1.84rem;border-radius: .1rem;}
#youlike .lump li p{height: .525rem;font-size: .18rem;line-height: .18rem;-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.lump .shop-price{margin-top: .1rem;margin-bottom: .05rem;font-size: .14rem;line-height: .14rem;color: #ff4400;}
.lump .salesVolume{display: flex;height: .14rem;justify-content: space-between;color: #a8a8a8;}
.lump .salesVolume span{font-size: .14rem;line-height: .14rem;}
/*条状显示*/
.strip{width: 100%;display: none;}
.strip li{height: 1.1rem;background: white;width: 100%;display: flex;box-sizing: border-box;padding: .15rem 0 .15rem .1rem;}
.strip li .strip-img{width: .8rem;height: .8rem;}
.strip li .strip-img img{width: .8rem;height: .8rem;}
.strip-bottom{margin-left: .12rem;}
.strip li .strip-bottom p{width: 2.8rem;height: .345rem;font-size: .18rem;line-height: .18rem;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.strip .shop-price{margin-top: .1rem;margin-bottom: .05rem;font-size: .14rem;line-height: .14rem;color: #ff4400;}
.strip .salesVolume{color: #a8a8a8;line-height: .14rem;}
.strip .salesVolume span{font-size: .14rem;line-height: .14rem;}
/*底部*/
#foot{width: 100%;height: .52rem;background: white;position: fixed;bottom: 0;}
#foot ul{height: .52rem;list-style: none;display: flex;}
#foot ul li{width: 20%;font-size: .12rem;color: #777777;text-align: center;}
#foot ul li:first-child{color: #ff4400;}











